html, body{
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  color: white;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

article{
  display: block;
  width: 60%;
  min-width: 600px;
  padding: 50px;
  margin: auto;
/*  background-color: rgba(255, 255, 255, 0.5); */
}

section{
  /* background-color: rgba(255, 255, 255, 0.5); */
}

header{
  background-image: url(https://images.unsplash.com/photo-1513438205128-16af16280739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80);
margin: auto;
  padding: 50px;
  font-family: 'Merriweather', serif;
}

#left{
  float: left;
  clear: left;
}

#right {
  float: right;
  clear: right;
}

.sidebar {
  font-size: 3em;
  width: 15%;
  height: 100vh;
  background-color: white;
}

.photos{
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
  object-fit: contain;
}

button{
  width: 50px;
  height: 50px;
  color: white;
  font-size: 2em;
  border-radius: 5px;
  border: none;
  background-color: black;
  display: inline-block;
  margin: 10px;
}

button:hover{
  background-color: #333555;
}

img{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
